# Installed by bootstrap.sh to /etc/restic/env (root:root 0600).
# Values come from: terraform output -raw restic_repository / backup_access_key / backup_secret_key
RESTIC_REPOSITORY=s3:https://s3.nl-ams.scw.cloud/hermes-backup-emeta-01
RESTIC_PASSWORD_FILE=/etc/restic/password
AWS_ACCESS_KEY_ID=SCWXXXXXXXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
