(site_defaults) {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	log {
		output stderr
		format json
	}
}

{$DASHBOARD_FQDN} {
	import site_defaults
	reverse_proxy 127.0.0.1:9119
}

{$NETDATA_FQDN} {
	import site_defaults

	handle /oauth2/* {
		reverse_proxy 127.0.0.1:4180
	}

	handle {
		forward_auth 127.0.0.1:4180 {
			uri /oauth2/auth

			@unauthenticated status 401
			handle_response @unauthenticated {
				redir * /oauth2/sign_in?rd={scheme}://{host}{uri} 302
			}
		}
		reverse_proxy 127.0.0.1:19999
	}
}
